.main-div{
    padding-left: 0px;
}

.main-row{
    margin-left: 0px;
    margin-right: 0px;
}
.container{
    width: 100%;
    padding-left: 0px; 
    padding-right: 0px; 
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.logo{
    margin-left: 50px;
}

.facebook{
    height: 40px;
    width:40px;
    margin-left: 10px;
}
.facebook-div{
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
.twitter-div{
    padding-top: 40px;
}
.header-icon-label{
    font-size: 0.9em;
    font-weight: bold;
}
/*
#FDE201
*/
.header-row{
    height:110px;
     background-color: #5f93c1; 
    /*background-color: #dfdfdf;*/
    
}
.header-below-row{
    height:15px;
    /*background-color: #5f93c1;*/
     background: #efe7a8; 
    /*background-color: #5ACBF5;*/
}
.footer {
    bottom: 0;
    width: 100%;
    /*border-top: solid 1px #F46B03;*/
    border-top: solid 1px #EF4048;    
    text-align: center;
    font-size: 80%;
    margin-left: 0px;
    padding-right: 0px;
    background-color: #F6F6F6;
    background-image: url('../images/footer.png');
}
.footer-links, .footer-links:hover{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}
.stroke-separator{
    color: #fff;
    font-size: 1.7em;
}
.account-access-main-row{
    margin-left: 30px;
}
.login-div{
    margin-top: 70px;
}
.signup-div{
    margin-top: 60px;
}
.login-box{
    background: #e0e0d1;
    padding-left: 10px;
    padding-right: 10px;
}
.login-box-body{
    background-color: #F6F6F6;
    padding-left: 10px;
    padding-right: 10px;
}
.login-box-msg{
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightgrey;
    padding: 10px;
}
.create-account-link{
    padding: 10px;    
    padding-left: 0px
}
.signup-info ul {
    list-style-type: square;
    list-style-position:inside;
}
.signup-info ul li {
    padding: 5px;
}
.signup-info {
    padding-top: 30px;
    border-left: 1px dotted lightgrey;
    background: #F6F6F6;
    min-height: 540px;
}
.info-header{
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.nav-tab-row{
    margin-right: -5px;
}
.extra-links{
    margin-bottom: 5px;
}
.nav-list-container{
    margin-left: 10px;
    margin-right: 0px;
}
.menu-div{
    background-color: #F6F6F6;
    height:100%;  
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
}
#loadingDiv{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('./../images/ajax-loader-2.gif') 
                50% 50% 
                no-repeat;
}

#courseapplication-profreq label{
    font-weight: normal;
    padding-left: 20px;
}

#courseapplication-dipreq label{
    font-weight: normal;
    padding-left: 20px;
}

#declarations-declarationid label{
    font-weight: normal;
    padding-left: 20px;
}
.declarations-specify{
    display: none;
}
.notification-bar{
    min-height: 40px;
    background-color: #f2f2f3;
    padding-top: 10px;
}
#papers-papercode label{
    clear: both;
    display: block;
}
.bill-header{
    background-color: lightgrey;
}
.invoice-div{
    border:1px solid lightgrey;
}
.wallet-pin{
    height: 33px;
}
#declarations-declarationid label {
    font-weight: normal;
    padding-left: 0px;
}
.zero-padding-div{
    padding-left: 0px;
    padding-right: 0px;
}
.zero-padding-div-right{
    padding-left: 0px;
    padding-right: 5px;
}
.zero-padding-div-left{
    padding-left: 5px;
    padding-right: 0px;
}
.has-notifications .span-black{
    color: red;
}
.has-notifications .not{
    color: red;
}
.has-not-notifications .span-black{
    color: #000;
}
.has-not-notifications .not{
    color: #000;
}
.logout-icon{
    color:#000;
}
.regNo{
    font-size: 0.8em;
}
.profile-info-row{
    margin-top: 3px;
    margin-bottom: 3px;
}
.personal-details-div{
    font-weight: bold;
    padding-top: 5px;
}
.basic-wizard .panel-body{
    min-height: 300px;
}
#student-studentstatus .radio { 
    float: left;
    position: relative;
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}
.topup-link{
    color: #000;
    font-size: 0.8em;
}
.topup-link:hover{
    color: #000;
    font-size: 0.8em;
}
.top-instructions{
    margin-left: 0px;
    margin-right: 0px;
}
.topup-background{
    background-color: #f5f5f0;
}

.header-label-row{
    border-bottom: 1px solid grey;
    height: 30px;
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 50px;
}
.powered-by{
    height: 50px;
    width: 80px;
}
.powered-by-row{
    background-color: #F6F6F6;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
    height: 50px;
}