html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}


.basic-wizard .nav li > a {
    background-color: lightgrey;
    color:#333;
}
.basic-wizard .nav li.active > a, .basic-wizard .nav li.active a:focus, .basic-wizard .nav li.active a:active {
    border-bottom-color: #f4f4f4;
    color: #fff;
    opacity: 1;
    background-color: #5f93c1;
    border-top-color: #f4f4f4;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    border-top-color: #f4f4f4;
}
.nav li.active > a .nav-step {
    text-align: left;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 500px;
    padding-top: 5px;
    width: 43px;
    height: 43px;
    font-weight: bold;
    color: #333;
}
.nav-step {
    text-align: left;
    background-color: lightgrey;
    border: 4px solid grey;
    border-radius: 500px;
    padding-top: 5px;
    width: 43px;
    height: 43px;
    font-weight: bold;
    color: #333;
}
.nav-div {
    text-align: left;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    padding: 10px;
}
.pager li > a{
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #12488b;
    background-color: #12488b;
    border-radius: 2px;
    color: #fff;
}
.pager li > a:hover, .pager li > a:focus{
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #21395e;
    background-color: #21395e;
    border-radius: 2px;
    color: #fff;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #999;
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid #ccc;
}
.student-registration-header{
    text-transform: uppercase;
    font: normal bold 30px Georgia, serif;
}
.need-help{
    background-color: #5f93c1;
    border: 1px solid #4783b8;
    margin-bottom: 10px;
}
.need-help:hover{
    background-color: #4783b8;
    border: 1px solid #5f93c1;
    margin-bottom: 10px;
}
.header-h1{
    font-size: 1.1em;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}
.header-underline{
    border-top: 1px solid #5f93c1;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #6f7376;
}
.kv-sidenav li a {
    color: #fff;
    background-color: #585b5e;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #6f7376;
}
.disable-link{
    pointer-events: none;
   cursor: default;
   color: grey;
}