/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2016, 11:39:44 AM
    Author     : B.N. Wanjala
*/

#loadingDiv{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('./../images/ajax-loader-2.gif') 
                50% 50% 
                no-repeat;
}
.card-holder-row{
    height: 150px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-bottom: 20px;
    clear: both;
}
.cards{
    height: 100%;
}
.card-1, .card-2, .card-3{
    height: 100%;
    width: 320px;
    background-color: #3399ff;
    margin-right: 17px;
    float: left;
}
.card-2{
    background-color: #66b3ff;
}
.card-3{
    background-color: #99ccff;
    margin-right: 0px;
}
.card-title{
    font-weight: bold;
    padding-top: 5px;
    font-size: 1.3em;
    margin-left: 0px;
    margin-right: 0px;
}
.card-title-1{
    background-color: #1a8cff;
}
#dashboard-span{
    font-size: 90px;
    padding-left: 10px;
    font-weight: normal;
}
.card-value{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1.9em;
    font-weight: bold;
}
.card-header{
    font-size: 0.8em;
}
.card-title-2{
    background-color: #3399ff;
}
.card-title-3{
    background-color: #4da6ff;
}

.exemptcolor{
    color: #3c8dbc;
}
text[text-anchor=end] {
    display: none;
}
.pie-charts{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-header>h1 {
    color: #ecf0f5;
}